:root{
  --trans--:250ms cubic-bezier(0.4, 0, 0.2, 1);
}



body{
  font-family: "lato",sans-serif;
  color: rgba(66, 66, 66, 1);
  background: #E5E5E5;
}
.container{
  width: 1300px;
  margin: 0 auto;
  padding: 0 15px;

}
/* head container*/
.head.container{
  display: flex;
  flex-basis: auto;
  
  
  justify-content: space-between;
  background-color: #FFFFFF;
  
  
  
  

}
.baskiet{
  display: flex;
  
}
.logo-link{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 fill: currentColor;

 

  
}
.alogo {
  position: relative;
  margin-right: 150px;
  color: rgba(1, 153, 109, 1);
  transition: color var(--trans--);
  height: 80px;

  
  
}

.alogo:hover,
.alogo:focus{
  color: rgb(7, 207, 7);
}

.list{
  display: flex;
  list-style: none;
  gap: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.link-nav{
  text-decoration: none;
  transition: color var(--trans--);
}
.page{
  border: 1px solid #D6D6D6;
  background-color: #FFFFFF;
  
  
}
.item .link-nav{

  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #292929;
padding-top: 30px;
padding-bottom: 30px;

 
}

.to-button{
  margin-right: 35px;
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;

  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
background-color: transparent;
transition: color var(--trans--);
}
.btn-primary{
  flex: none;
order: 0;
flex-grow: 0;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #FFFFFF;

  padding: 13px 50px;
  background: #01996D;
border: 1px solid #01996D;
border-radius: 4px;
transition:background-color var(--trans--), 
border-color var(--trans--) ;
}

.btn-primary:hover,
.btn-primary:focus{
  background-color:rgb(7, 207, 7);
  
  border-color:rgb(7, 207, 7);

}
.to-button:hover,
.to-button:focus,
.link-nav:hover,
.link-nav:focus{
  color:rgb(7, 207, 7);
}
/*hero container*/
.section.hero{
  height: 625px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/fotohero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.hero-tytle{
  font-family: 'Geologica';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 74px;
color: #01996D;
  margin-bottom: 50px;
  margin-top: 0px;
}
.hero-content{
  position: absolute;
  width: 440px;
height: 384px;

top: 261px;
}
.hero-text{
margin-top: 0px;
margin-bottom: 40px;



  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;

}
/* 3 stres container*/
.section-stres{
  background-color: #FFFFFF;
}
.dstres{
  display: flex;
  padding: 140px 0px;
  justify-content: space-between;
  
  
  
  
  

}
.dstres .stresd{
  width: 580px;
  
}

.dstres-text{
  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 157%;
color: #424242;
margin: 0px;
}
.dstres-tytle{
  font-family: 'Geologica ';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 157%;
color: #01996D;
margin: 0px;
}
.dstres-content{
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #424242;
margin-top: 58px;
}

